@charset "utf-8";
/* CSS Document */
/**person-left**/
.person-left{ width:200px; border:1px solid #e8e8e8; border-top:3px solid #cc3300;}
.person-left h4{ height:40px; line-height:40px;}
.person-left a{ color:#666; line-height:27px;}
.procatalog .m-treeview li.m-collapsed ul{display:none;}
li.m-expanded  a.m-person{width:198px; height:30px; border-bottom:1px solid #e8e8e8; display:block; padding-left:15px; color:#333; background:url(../images/person/sub.gif) 170px center no-repeat #f5f5f5; line-height:30px;}
li.m-expanded a.m-last{width:198px; height:30px;display:block; padding-left:15px; color:#333; background:#f5f5f5; line-height:30px; font-family:'微软雅黑';}
li.m-collapsed  a.m-person{ width:198px; height:30px;border-bottom:1px solid #e8e8e8; display:block; padding-left:15px; color:#333;background:url(../images/person/add.gif) 170px center no-repeat #f5f5f5;line-height:30px;}
.m-treeview  ul{ padding:15px; line-height:22px;}
.m-treeview  ul ul{ padding:5px 0 5px 20px;}
.m-treeview  ul a{ color:#666; font-family:'宋体';}
.m-treeview  ul ul a{ background:url(../images/zb-cir.gif) no-repeat left 3px; padding-left:15px; c}
.m-treeview  a.active,.m-treeview  a:hover,li.m-expanded a.active{ color:#cc0000;}

/**个人中心首页右侧**/
.person-right{ width:890px; font-family:'宋体';}
.person-jj-l{ width:140px; height:140px; padding:20px; text-align:left;}
.person-jj-m{ width:480px; padding:20px 20px 0 0; border-right:1px solid #efefef; height:140px; line-height:22px; position:relative;}
.person-jj-m h4{ margin:0 0 5px;}
.person-jj-m ul{ padding-top:15px;}
.person-jj-m ul li{ float:left; width:100px; line-height:20px; text-align:center;}
.person-jj-m ul li span{ display:block; color:#666;} 
.person-jj-m ul li span.per-tile{ color:#333;}
.shenqing{ position:absolute; right:10px; top:10px;}
.shenqing a{height:24px; line-height:24px;}
.btn-sj{ width:40px; }
.btn-sq{ width:70px; }
.person-jj-r{ width:260px; padding:30px 0 0 20px;}
.person-jj-r h4{ height:30px;}
.person-jj-r ul,.person-jj-r span{ float:left;}
.person-jj-r ul li,.safe-tit ul li{width:20px; height:8px; float:left; background:#ccc; margin-right:5px; margin-top:5px;}
.person-jj-r span{ padding-right:5px;}
.person-dian{ background:url(../images/person/dian.gif) no-repeat 20px center; padding:0 20px 0 35px; height:55px; line-height:55px;}
.person-dj-tit{ border-bottom:1px solid #e8e8e8;}
.person-dj-tit h3{ width:110px; float:left;}
.person-dj-tit  ul{ width:300px; float:left; margin-top:8px;}
.person-dj-tit  ul li{ float:left; line-height:45px; color:#666;}
.person-dj-tit  ul li a{ color:#000; padding:0 10px;}
.person-dj-tit  ul li a.red{color:#cc3300;text-decoration:none;}
.dj-body-top{ height:40px; border-bottom:1px solid #e8e8e8; line-height:38px; color:#000; overflow:hidden;}
.dj-body-top .dj-body2{ display:block; height:34px;}
.dj-body1{ width:120px; padding-left:20px; float:left;}
.dj-body2{ width:250px; height:100px; padding-left:20px; padding-right:20px; float:left;}
.dj-body3{ width:100px;height:100px;  float:left;}
.dj-body4{ width:100px;height:100px; float:left;}
.dj-body5{ width:100px;height:100px; float:left;}
.dj-body6{ width:100px;height:100px;float:left;}
.dj-body7{ width:110px;height:100px;float:left;}
.person-dj-logi .dj-body2{ width:350px;}
.person-dj-body{ display:none;}
.dj-lr-t{ height:40px; line-height:40px;}
.dj-lr-t span{ padding-left:20px;}
.dj-lr-b{ padding:20px 0;}
.table{ height:100px; display:table; }
.tablainner{ vertical-align:middle;display:table-cell;}
.dj-body7 a{ line-height:24px;}
.dj-body7 a.btn{ width:60px; height:25px; line-height:25px; padding:0;}
.person-dj-left{ width:600px; height:350px;}
.person-dj-lr ul{ padding-left:20px;}
.dj-lr li a{ color:#666;}
.dj-lr li a.btn{ color:#fff;}
.person-dj-lr ul li{ width:267px; float:left; margin-right:20px; margin-bottom:20px; position:relative;}
 ul li  a.getrb, ul li  a.getcar{text-align: center; width:32px; height:33px; display:inline-block; color: #c30;margin-right: 4px;vertical-align: middle;}
 ul li  a.getrb i, ul li  a.getcar i{font-size: 32px;line-height: 100%;}
.person-dj-lr ul li  a.getrb{ background-position:right top; left:auto; right:1px;}
.person-dj-lr ul li img{ border:1px solid #e8e8e8; margin-bottom:5px;}
.person-dj-right{ width:270px; height:350px;}
.cardbox{ padding:20px; }
.cardbox p{ line-height:24px;}
.cardbox li{ padding-bottom:20px;}
/**帖子**/
.person-linetit{ background:url(../images/person/dian.gif)  no-repeat 20px center; padding:0 20px 0 35px; height:55px; line-height:55px;}
.person-linetit h3{ line-height:55px; margin:0; width:100px;}
.person-post-list{ border-top:1px solid #e8e8e8;}
.person-post-list table.line tr{ border-bottom:1px dashed #e8e8e8; height:40px; line-height:40px;}
.person-post-list a.hui{ color:#666;}
.person-post-list p.strong{ font-weight:bold;}
.person-post-list{ position:relative;}
.person-post-list .pline{ width:890px; height:1px; background:#e8e8e8; position:absolute; bottom:0px; z-index:10;}
.postlist-title{ padding-left:20px;}
.person-post-tit ul{ width:400px; margin-top:15px; height:30px; line-height:30px;}
.person-post-tit ul li{ float:left; color:#999;}
.person-post-tit ul a{ padding:0 10px; color:#333;}
.person-post-tit ul a.active,.person-post-list a:hover{ color:#cc3300;}
.listsc li{  border-bottom:1px dashed #e8e8e8; height:40px; line-height:40px; padding:0 20px; overflow:hidden}
.listsc .niceform{ padding-top:7px;}
.choicebtn{ padding-left:20px; margin:10px 0;}
label{ font-weight:normal;}
.btn120{ width:120px; height:35px; line-height:35px; font-size:12px; padding:0;}
.safe-tishi{ padding:25px; line-height:30px;}
/**账本**/
.curtain-tit ul{ margin-left:200px; background:red;}
.curtain-tit ul li{ float:left; height:50px; line-height:50px;}
.curtain-tit ul li a{ padding:0 15px; color:#666;}
.curtain-tit ul li a:hover,.curtain-tit ul li a.active{ padding:0 15px; color:#cc3300;}
.personbox a.btn:hover{ color:#fff;}
.curtain-body-tit{ line-height:35px; padding-left:20px;}
.zbtable tr{ border-bottom:1px solid #e8e8e8; height:40px; line-height:40px;}
.expend-tit{ padding:25px 0 15px;}
.expend-tit ul{ margin-left:290px;}
.expend-tit ul li{ float:left; padding:0 20px; text-align:center; line-height:22px; background:url(../images/line.gif) no-repeat right center;}
.expend-tit ul li.backno{ background:none;}
.table-ls tr{ border-top:10px solid #fff; height:40px; line-height:40px; background:#f5f5f5;}
.ls-lr{ padding-left:20px;}
/**投诉建议**/
.complaint-search{ width:310px;}
.complaint-txt{ width:230px; float:left; margin-top:10px; margin-right:5px;}
.complaint-btn{ width:60px; height:35px; cursor:pointer; border:1px solid #e8e8e8; background: none; padding:0; margin:10px 0 0 0; line-height:35px; float:left; color:#666; display:block;}
.tousu tbody ul{ padding:20px;}
.tousu tbody ul li{ float:left; width:100px; display:block; margin-right:20px;}
a.jt{ background:url(../images/person/jt.gif) no-repeat right center; padding-right:15px;}
.form-box{ padding-left:150px; padding-top:10px;}
.form-box li{ margin-bottom:20px;line-height:35px;}
.form-box li span{ width:80px; height:35px; display:block; float:left; text-align:right; }
.complain-textarea{ width:380px; height:180px; padding:5px; line-height:20px;}
.tishi{ padding:150px 0 0 5px;}
.complaintbox-t table img{ padding:20px 0; height:140px;}
.complaintbox-t table  tr{ border-bottom:1px solid #e8e8e8;}
.jl tbody tr{ height:60px;}
.personbox h3{ color:#333;}
.tsform .form-box{ display:none;}
/*安全*/
.safe-tit{ height:40px; line-height:40px; padding-left:20px;}
.safe-tit strong,.safe-tit ul,.safe-tit p{ float:left; padding-right:5px;}
.safe-tit ul{ margin-top:11px;}
.safe-tit ul li.active{ background:#cc0000;}
.safe-lr dl{ border-top:1px solid #e8e8e8; padding:20px;}
.safe-lr dl dt{ width:200px; height:40px; line-height:40px; border-right:1px solid #e8e8e8; float:left; font-size:14px; padding-left:100px; font-weight:normal; color:#333; font-family:'微软雅黑';}
.safe-lr dl dt.safeok{ background:url(../images/person/safe.gif) no-repeat 40px center;}
.safe-lr dl dt.safeno{ background:url(../images/person/notsafe.gif) no-repeat 40px center;}
.safe-lr dl dd{ width:640px; float:left; padding-left:20px; line-height:40px;}
.btn-yz{ width:75px; height:25px; line-height:25px;}
/*收藏*/
.collect-lr ul{ padding:20px 0 0 23px;}
/*微捐*/
.donation-ad { width:890px;}
.donation-ad a.btn{ padding-left:30px; padding-right:30px;}
.donation-img{ height:390px; position:relative;}
.pos-b{ position:absolute; bottom:50px; left:50px; z-index:10;}
.pos-b p{ line-height:35px;}
.donation-contorl{ height:40px; line-height:40px; padding:0 10px;}
.donation-person{ padding:20px;}
.donation-person dt{ float:left;}
.donation-person dd{ width:760px; float:left; padding-left:20PX;}
.donation-list dl{ border-bottom:1px solid #e8e8e8; margin:0;}
.donation-list dt{ float:left; padding:20px;}
.donation-list dd{ float:left; padding-top:20px; width:710PX; position:relative;}
.donation-list dd h5{ height:20px; line-height:20px; padding:0; margin:0 0 5px;}
.num{ padding:0 5px;}
.donation-list dd .jz{ background:url(../images/person/jzbtn.gif) no-repeat; width:65px; height:30px; display:block; position:absolute; right:0px; bottom:0px;}
.pos-detial-b{ background:url(../images/person/white-bg.png) repeat; height:40px; line-height:40px; width:888px; position:absolute; bottom:0px; left:0px; z-index:10; text-align:center;}
.donation-bot-t,.donation-bot-b{ padding:35px;}
.donation-bot-t p{ padding-bottom:20px;}
.donation-bot-t p span{ padding:0 5px;}
.donation-bot-b ul li{ padding-bottom:30px; line-height:20px; line-height:25px;}
.donation-tit{ height:50px; line-height:50px; color:#666;}
.donation-tit a{ padding:0 15px;}
.donation-me li{ border-top:1px solid #e8e8e8; padding:15px; line-height:22px;}
.person-donation-my dl{ border:none;border-top:1px solid #e8e8e8; }
/*个人资料*/
.person-data-left{ border-right:1px solid #e8e8e8;}
.person-data-left,.person-data-right{ width:440px;padding:25px;}
.person-data-left p,.person-data-right p{ padding-bottom:15px;}
.imgbox-my{ text-align:center; padding:50px 0;}
.breath{ position:relative;}
.icon-sr{ position:absolute; left:410px; top:6px; z-index:10;}
/*收货地址*/
.addresslist{ width:285px; border:1px solid #e8e8e8; float:left; margin: 5px; position:relative;}
.address-view{ padding:15px; height:130px;}
.address-view li span{ float:left; margin-left:1px;}
.address-view li em{margin-left:1px;}
.address-view li{ width:250px; padding-bottom:5px; line-height:20px;}
.address-contorl a{ padding:0 10px; line-height:35px; color:#666;}
 span.choice{ background:url(../images/person/choice.gif) no-repeat; width:30px; height:30px; display:block; position:absolute; right:0px; top:0px; z-index:2; display:none;}
.choicebox{ border:1px solid #cc0000;}
.choicebox  span.choice{ display:block;}
.favorable a{ line-height:22px; color:#666;}
.tousu ul li img{ padding:0; height:100px;}
.pl tbody tr{ height:70px;}
/*评价*/
.comment-star,.common-img-b,.exchangbot{ padding:25px;}
.comment-star dl{ height:35px; line-height:35px; padding-top:15px;}
.comment-star dl dt{ float:left; width:100px; font-weight: normal;}
.comment-star dl dd{ float:left; width:500px;}
.comment-star dl dd a{ width:20px; height:18px; display:block; background:url(../images/person/heart.gif) no-repeat right top; float:left; margin-right:5px;}
.comment-star dl dd a.active{ background-position:left top;}
.common-imt-t{ height:50px; line-height:50px; padding:0 20px;}
.text-area{ padding:15px; width:888px; height:250px; overflow:hidden; border:none;}
.text-area:focus{outline: none; }
/*退换货*/
.exchangbot .shengming{ height:50px; padding-top:10px;} 
.addimg img{ float:left; width:100px; height:100px; margin-right:10px;}
.numcontrol em{ border:1px solid #e8e8e8; padding:4px 10px; margin-right:5px; cursor:pointer;}
.openform:hover{ text-decoration:none!important;}
.tsform .btn-sq{ width:70px; height:25px; line-height:25px; padding:0;}
.pllr,.comment-lr{ display:none;}
.commentlist  td{ padding:20px 0;}
.pull-left a.active,.pull-left a:hover{ color:#cc3300;}
.wuxx thead tr{ border-bottom:1px solid #e8e8e8; height:40px;}
.wuxx tbody tr{ height:35px;}
.person-shouhuo{ padding:15px; line-height:25px;}
.exchangediv ul{ height:120px;}
.exchangediv ul li{ float:left; width:100px; height:120px; position:relative}
.exchangediv ul li label{ position:absolute; width:100px; height:120px; position:absolute; left:0px; top:0px;}
.exchangediv .hRadio { padding-bottom:20px; background:red; line-height:22px; height:21px; display:inline-block;}
.hRadio_Checked { background-position:left -42px;}
label.disabled{background-position:left 0px;}
.dj-lr table tr{ border-bottom:1px solid #e8e8e8;}